@use '../../styles/breakpoints' as *;

.about-collapses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  @include desktop {
    gap: 30px;
    max-width: 1023px;
    margin: 38px auto 0;
  }
}