@use "../../styles/breakpoints" as *;

.rating {
  display: flex;
  gap: 5px;

  @include desktop {
    gap: 11px;
  }

  &-star {
    color: #e3e3e3;
    font-size: 18px;
    line-height: 1;

    @include desktop {
      font-size: 36px;
    }

    &--filled {
      color: #ff6060;
    }
  }
}
