@use '../../styles/breakpoints' as *;

.collapse {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 20px;
    background-color: #ff6060;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;

    @include desktop {
      height: 52px;
    }
  }

  &-title {
    font-size: 13px;
    font-weight: 700;

    @include desktop {
      font-size: 24px;
    }
  }

  &-arrow {
    display: flex;
    width: 16px;
    transition: transform 0.3s ease;

    svg {
      width: 100%;
      height: auto;
    }

    @include desktop {
      width: 24px;
    }
  }

  &-arrow.open {
    transform: rotate(180deg);
  }

  &-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
    background-color: #f6f6f6;
    color: #000000;
    border-radius: 0 0 5px 5px;
  }

  &-content.open {
    grid-template-rows: 1fr;
  }

  &-content-inner {
    overflow: hidden;
    padding: 0 20px;
  }

  &-content.open &-content-inner {
    padding: 20px;
  }
}