@use '../../styles/breakpoints' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;

  &-logo {
    height: 47px;              

    @include desktop {
      height: 68px;         
    }
  }

  &-nav {
    display: flex;
    gap: 26px;                

    @include desktop {
      gap: 57px;              
    }

    a {
      color: #000000;
      text-decoration: none;
      font-size: 12px;            
      text-transform: uppercase; 
      
      &.active {
        text-decoration: underline;         
      }

      @include desktop {
        font-size: 24px;           
        text-transform: none;     
      }
    }
  }
}